
body {
    font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f2f2f2;
    background-image: url('https://wallpapercave.com/wp/wp6844308.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}


nav {
    background-color: #3b3030;
    overflow: hidden;
    /* display: flex;
    align-items: center;
    justify-content:right; */
}
.login{
    /* justify-content: left;
    align-items: right; */
    display: flex;
    justify-content: right;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    justify-content: center;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

#app {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: rgb(172, 184, 101, 0.6);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
}

button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#dataDisplay {
    margin-top: 20px;
}

.folder {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
}

.folder:hover {
    background-color: #f0f0f0;
}
